<div class="container-fluid p-0">

    <div class="row">

        <div class="col-md-12 col-xl-12">
            <div class="card flex-fill">
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th rowspan="2" >CÓDIGO</th>
                            <th rowspan="2" class="d-none d-xl-table-cell text-nowrap">FECHA</th>
                            <th rowspan="2">NOMBRE</th>
                            <th rowspan="2">HOSPITAL</th>
                            <th colspan="3">DIAGNÓSTICO</th>
                        </tr>
                        <tr>
                            <th>PRINCIPAL</th>
                            <th>INGRESO</th>
                            <th>EGRESO</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let diagnosis of recordPatient.Diagnosticos">
                            <td><strong>{{ diagnosis.Diagnostico.Codigo }}</strong></td>
                            <td class="d-none d-xl-table-cell text-nowrap">{{ diagnosis.FolioAtencion.FechaAtencion }}</td>
                            <td>{{ diagnosis.Diagnostico.Nombre }}</td>
                            <td>{{ diagnosis.FolioAtencion.IPS.Nombre }}</td>
                            <td>{{ diagnosis.DiagnosticoPrincipal }}</td>
                            <td>{{ diagnosis.DiagnosticoIngreso }}</td>
                            <td>{{ diagnosis.DiagnosticoEgreso }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>