<div class="container-fluid p-0">

    <div class="row">

        <!-- Datos paciente -->
        <!-- <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img src="img/avatars/avatar-2.jpg" alt="Pciente de Pruebas"
                        class="img-fluid rounded-circle mb-2" width="128" height="128" />
                    <h5 class="card-title mb-0">PACIENTE DE PRUEBA</h5>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">Datos del paciente</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><span data-feather="info" class="feather-sm me-1"></span>
                            Cédula de ciudadania</li>
                        <li class="mb-1"><span data-feather="tablet" class="feather-sm me-1"></span> 777
                        </li>
                        <li class="mb-1"><span data-feather="calendar" class="feather-sm me-1"></span>
                            24 años</li>
                        <li class="mb-1"><span data-feather="bookmark" class="feather-sm me-1"></span>
                            EPS Sánitas S.A.</li>
                        <li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span>
                            Villeta, Cundinamarca</li>
                    </ul>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">Datos de contacto</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><span data-feather="user" class="feather-sm me-1"></span>
                            Contacto de prueba</li>
                        <li class="mb-1"><span data-feather="info" class="feather-sm me-1"></span>
                            Cédula de ciudadania</li>
                        <li class="mb-1"><span data-feather="tablet" class="feather-sm me-1"></span> 999
                        </li>
                        <li class="mb-1"><span data-feather="calendar" class="feather-sm me-1"></span>
                            42 años</li>
                        <li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span>
                            Villeta, Cundinamarca</li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="col-md-8 col-xl-9">
            <div class="card flex-fill">
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>TIPO</th>
                            <th>DETALLE</th>
                            <th>HOSPITAL</th>
                            <th class="d-none d-xl-table-cell text-nowrap">FECHA</th>
                            <th>ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MÉDICOS</td>
                            <td>HIPOTIROIDISMOS</td>
                            <td>HOSPITAL SAN RAFAEL - FACATATIVA</td>
                            <td class="d-none d-xl-table-cell text-nowrap">2014-09-12</td>
                            <td><span class="badge bg-success">Ver Folio</span></td>
                        </tr>
                        <tr>
                            <td>FARMACOLÓGICOS</td>
                            <td>LEVOTIROXINA 50 MG EN AYUNAS</td>
                            <td>HOSPITAL SAN RAFAEL - FACATATIVA</td>
                            <td class="d-none d-xl-table-cell text-nowrap">2014-09-12</td>
                            <td><span class="badge bg-success">Ver Folio</span></td>
                        </tr>
                        <tr>
                            <td>QUIRÚRGICOS</td>
                            <td>LAPAROTOMIA EXPLORATORIA POR HAPC</td>
                            <td>HOSPITAL SAN RAFAEL - FACATATIVA</td>
                            <td class="d-none d-xl-table-cell text-nowrap">2014-09-13</td>
                            <td><span class="badge bg-success">Ver Folio</span></td>
                        </tr>
                        <tr>
                            <td>TÓXICOS</td>
                            <td>FUMADOR</td>
                            <td>HOSPITAL SAN RAFAEL - FACATATIVA</td>
                            <td class="d-none d-xl-table-cell text-nowrap">2014-10-15</td>
                            <td><span class="badge bg-success">Ver Folio</span></td>
                        </tr>
                        <tr>
                            <td>MÉDICOS</td>
                            <td>DIABETES MELLITUS TIPO II</td>
                            <td>HOSPITAL MARIO GAITAN YANGUAS - SOACHA</td>
                            <td class="d-none d-xl-table-cell text-nowrap">2014-11-20</td>
                            <td><span class="badge bg-success">Ver Folio</span></td>
                        </tr>
                        <tr>
                            <td>QUIRÚRGICOS</td>
                            <td>APENDICEPTOMIA</td>
                            <td>HOSPITAL MARIO GAITAN YANGUAS - SOACHA</td>
                            <td class="d-none d-xl-table-cell text-nowrap">2014-11-20</td>
                            <td><span class="badge bg-success">Ver Folio</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
