<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex">
        <em class="hamburger align-self-center"></em>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                    <em class="align-middle" data-feather="settings"></em>
                </a>
                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                    <!-- <img src="../../../assets/img/avatars/avatar.jpg"
                        class="avatar img-fluid rounded-circle rounded me-1" alt="Nombre Usuario" /> -->
                    <span class="text-dark">Nombre Usuario</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">
                        <em class="align-middle me-1" data-feather="user"></em> Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <em class="align-middle me-1" data-feather="settings"></em> Settings & Privacy
                    </a>
                    <a class="dropdown-item" href="#">
                        <em class="align-middle me-1" data-feather="help-circle"></em> Help Center
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>