<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex">
        <em class="hamburger align-self-center"></em>
    </a>
    <a href="">
        <img src="../../../assets/img/logos/logo-SECSALUD-02.svg" alt="Secretaria de Salud" class="img-fluid" width="90%">
    </a>
    
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <!-- <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="/search" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <em class="align-middle" data-feather="search"></em>
                    </div>
                </a>
                <div class="input-group mb-3">
                    <select class="form-select">
                        <option>Select...</option>
                        <option>One</option>
                        <option>Two</option>
                        <option>Three</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Search for...">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </div>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link d-none d-sm-inline-block" routerLink="/search">
                    <em class="align-middle me-1 text-dark" data-feather="search"></em> 
                    <span class="text-dark"> Búsqueda</span>
                </a>
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                    <em class="align-middle" data-feather="settings"></em>
                </a>
                <a class="nav-link d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                    <em class="align-middle me-1 text-dark" data-feather="smile"></em> 
                    <span class="text-dark">{{ this.userName }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- <a class="dropdown-item" routerLink="">
                        <em class="align-middle me-1" data-feather="user"></em> Perfil Usuario
                    </a>
                    <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" (click)="logout()" routerLink="/login">
                        <em class="align-middle me-1" data-feather="log-out"></em> Salir
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>