<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="dashboard">
            <span class="align-middle">Historia Clínica</span>
        </a>


        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Paginas
            </li>
            <li class="sidebar-item active">
                <a href="#dashboard" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <em class="align-middle" data-feather="sliders"></em> 
                        <span class="align-middle">Dashboard</span>
                </a>
                <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="dashboard">Datos paciente</a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="invoice">
                    <em class="align-middle" data-feather="activity"></em>
                    <span class="align-middle">Folios de atención</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="diagnosis">
                    <em class="align-middle" data-feather="check-square"></em>
                    <span class="align-middle">Diagnósticos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="background">
                    <em class="align-middle" data-feather="eye"></em>
                    <span class="align-middle">Antecendentes</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="orders">
                    <em class="align-middle" data-feather="clipboard"></em>
                    <span class="align-middle">Ordenes</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="management">
                    <em class="align-middle" data-feather="heart"></em>
                    <span class="align-middle">Plan de manejo</span>
                </a>
            </li>
        </ul>
    </div>
</nav>