<div class="container-fluid p-0">

    <div class="row">

        <div class="col-md-12 col-xl-12">
            <div class="card flex-fill">
                <table class="table table-hover my-0">
                    <thead>
                        
                        <tr>
                            <th>TIPO DE ATENCIÓN</th>
                            <th class="d-none d-xl-table-cell text-nowrap">FECHA</th>
                            <th>ESPECIALIDAD</th>
                            <th>HOSPITAL</th>
                            <th>ESTADO</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let invoice of recordPatient.Folios" >
                            <td>{{ invoice.TipoAtencion.ItemDescr }}</td>
                            <td class="d-none d-xl-table-cell text-nowrap">{{ invoice.FechaAtencion }}</td>
                            <td>{{ invoice.Especialidad.Nombre }}</td>
                            <td>{{ invoice.IPS.Nombre }}</td>
                            <td><span class="badge bg-success">VER FOLIO -></span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>