<div class="container-fluid p-0">

    <!-- Nombre del paciente -->
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <div class="row">
                        <div style="margin-top: 12px;" class="col">
                            <h4 style="margin: 0 0 0 0">
                                <strong class="text-primary">
                                    {{ recordPatient.PrimerNombre }} {{recordPatient.SegundoNombre}} {{
                                    recordPatient.PrimerApellido }} {{recordPatient.SegundoApellido }}
                                </strong>
                            </h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Datos del paciente -->
    <div class="row">
        <div class="col-md-12 col-xl-5">
            <!-- Datos personales -->
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align:center">DATOS PERSONALES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Tipo de documento</th>
                                <td>{{ recordPatient.TipoDocumento.ItemDescr }}</td>
                            </tr>
                            <tr>
                                <th>Documento</th>
                                <td>{{ recordPatient.Documento }}</td>
                            </tr>
                            <tr>
                                <th>Fecha de nacimiento</th>
                                <td>{{ recordPatient.FechaNacimiento.substring(0, 10) }}</td>
                            </tr>
                            <tr *ngIf="recordPatient.LugarNacimiento.Nombre">
                                <th>Lugar de nacimiento</th>
                                <td>{{ recordPatient.LugarNacimiento.Provincia.Departamento.Nombre }},
                                    {{recordPatient.LugarNacimiento.Nombre }}</td>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <td class="text-primary"><strong>{{ agePatient }}</strong></td>
                            </tr>
                            <tr>
                                <th>Sexo</th>
                                <td>{{ recordPatient.Sexo.ItemDescr }}</td>
                            </tr>
                            <tr *ngIf="recordPatient.EstadoCivil.ItemDescr">
                                <th>Estado cívil</th>
                                <td>{{ recordPatient.EstadoCivil.ItemDescr }}</td>
                            </tr>
                            <tr *ngIf="recordPatient.Nacionalidad.Nombre">
                                <th>Nacionalidad</th>
                                <td>{{ recordPatient.Nacionalidad.Nombre }}</td>
                            </tr>
                            <tr *ngIf="recordPatient.LugarResidencia.Municipio.Nombre">
                                <th>Lugar de residencia</th>
                                <td>{{ recordPatient.LugarResidencia.Municipio.Nombre }}</td>
                            </tr>
                            <tr *ngIf="recordPatient.DireccionPrincipal">
                                <th>Dirección principal</th>
                                <td>{{ recordPatient.DireccionPrincipal }}</td>
                            </tr>
                            <tr *ngIf="recordPatient.TelefonoPrincipal">
                                <th>Teléfono principal</th>
                                <td>{{ recordPatient.TelefonoPrincipal }}</td>
                            </tr>
                            <tr *ngIf="recordPatient.TelefonoMovil">
                                <th>Teléfono celular</th>
                                <td>{{ recordPatient.TelefonoMovil }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xl-7">
            <!-- Datos de contacto -->
            <div class="card mb-3" *ngIf="recordPatient.DocumentoAcudiente">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="4" style="text-align:center">DATOS ACUDIENTE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Tipo de documento</th>
                                <td>{{ recordPatient.TipoDocumentoAcudiente.ItemDescr }}</td>
                                <th>Documento</th>
                                <td>{{ recordPatient.DocumentoAcudiente }}</td>
                            </tr>
                            <tr>
                                <th>Nombres</th>
                                <td>{{ recordPatient.NombreAcudiente }}</td>
                                <th>Parentesco</th>
                                <td>{{ recordPatient.ParentescoAcudiente }}</td>
                            </tr>
                            <tr>
                                <th>Lugar de residencia</th>
                                <td>{{ recordPatient.LugarResidenciaAcudiente.Municipio.Nombre }}</td>
                                <th>Dirección</th>
                                <td>{{ recordPatient.DireccionAcudiente }}</td>
                            </tr>
                            <tr>
                                <th>Teléfono</th>
                                <td>{{ recordPatient.TelefonoFijoAcudiente }}</td>
                                <th>Teléfono celular</th>
                                <td>{{ recordPatient.TelefonoMovil }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Datos adicionales -->
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="4" style="text-align:center">DATOS ADICIONALES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Entidad administradora</th>
                                <td>{{ recordPatient.EntidadAdministradora.Nombre }}</td>
                                <th>Código</th>
                                <td>{{ recordPatient.EntidadAdministradora.Codigo }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de regimen</th>
                                <td>{{ recordPatient.TipoRegimen.ItemDescr }}</td>
                                <th>Tipo de afiliación</th>
                                <td>{{ recordPatient.TipoAfiliacion.ItemDescr }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de etnia</th>
                                <td>{{ recordPatient.TipoEtnia.ItemDescr }}</td>
                                <th>Población especial</th>
                                <td>{{ recordPatient.PoblacionEspecial.ItemDescr }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de discapacidad</th>
                                <td>{{ recordPatient.TipoDiscapacidad.ItemDescr }}</td>
                                <th>Ocupación</th>
                                <td>{{ recordPatient.Ocupacion }}</td>
                            </tr>
                            <tr>
                                <th>Nivel Sisben</th>
                                <td>{{ recordPatient.NivelSisben }}</td>
                                <th>Número de afiliación</th>
                                <td>{{ recordPatient.NumeroAfiliacion }}</td>
                            </tr>
                            <tr>
                                <th>Nivel de educación</th>
                                <td>{{ recordPatient.NivelEducacion.ItemDescr }}</td>
                                <th>Correo electrónico</th>
                                <td>{{ recordPatient.Email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Resumen Folios de atención -->
    <div class="row">
        <div class="col-sm-6 col-xl-6">
            <!-- Folios de atención -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Folios de atención</h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-activity">
                                    <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ recordPatient.Folios.length }}</h1>
                </div>
            </div>
            <!-- Actividad reciente -->
            <div class="card">
                <div class="card-body h-100">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Actividad reciente </h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-calendar">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="align-items-start">
                        <ul class="timeline mt-2 mb-0">
                            <li class="timeline-item" *ngFor="let activity of recordPatient.Folios.slice(-5)">
                                <strong>{{ activity.TipoAtencion.ItemDescr }}</strong>
                                <span class="float-end text-muted text-sm">{{ activity.FechaAtencion.substring(0, 10)}}</span>
                                <p>{{ activity.NombreCentroAtencion }} - {{ activity.Especialidad.Nombre }}<br>{{ activity.AreaServicio.Nombre }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Atención por año -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Atención por año</h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-pie-chart">
                                    <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                    <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="chart">
                        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType" [colors]="doughnutChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6">
            <!-- Tipo de atención -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Tipo de atención</h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-pie-chart">
                                    <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                    <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="chart">
                        <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                            [legend]="polarAreaLegend" [chartType]="polarAreaChartType"
                            [colors]="polarAreaChartColors"></canvas>
                    </div>
                </div>
            </div>
            <!-- Atención por hospital -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Atención por hospital</h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-bar-chart">
                                    <line x1="12" y1="20" x2="12" y2="10"></line>
                                    <line x1="18" y1="20" x2="18" y2="4"></line>
                                    <line x1="6" y1="20" x2="6" y2="16"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="chart">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [colors]="barChartColors" [chartType]="barChartType">
                        </canvas>

                    </div>
                </div>
            </div>
            <!-- Área de servicio -->
            <!-- <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Área de servicio</h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-pie-chart">
                                    <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                    <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="chart">
                        <canvas baseChart [data]="serviceAreaChartData" [labels]="serviceAreaChartLabels"
                            [legend]="serviceAreaLegend" [chartType]="serviceAreaChartType"
                            [colors]="serviceAreaChartColors"></canvas>
                    </div>
                </div>
            </div> -->
            <!-- Atención por especialidad -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Atención por especialidad</h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-bar-chart">
                                    <line x1="12" y1="20" x2="12" y2="10"></line>
                                    <line x1="18" y1="20" x2="18" y2="4"></line>
                                    <line x1="6" y1="20" x2="6" y2="16"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="chart">
                        <canvas baseChart [datasets]="barSpecChartData" [labels]="barSpecChartLabels"
                            [options]="barSpecChartOptions" [plugins]="barSpecChartPlugins" [legend]="barSpecChartLegend"
                            [colors]="barSpecChartColors" [chartType]="barSpecChartType">
                        </canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contador Diagnósticos -> Antecedentes -> Órdenes -> Plan de Manejo -->
    <div class="row" *ngIf="recordPatient.Diagnosticos.length > 0">
        <!-- Diagnósticos -->
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Diagnósticos</h4>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-check-square">
                                    <polyline points="9 11 12 14 22 4"></polyline>
                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ recordPatient.Diagnosticos.length }}</h1>
                    <div class="mb-0">
                        <span class="badge badge-primary-light"> <em class="mdi mdi-arrow-bottom-right"></em> 
                            <span class="text-muted">Ultimo diagnostico => </span>
                            {{ recordPatient.Diagnosticos[recordPatient.Diagnosticos.length-1].FolioAtencion.FechaAtencion.substring(0, 10) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Antecedentes -->
        <div class="col-sm-6 col-xl-3" *ngIf="recordPatient.Antecedentes.length > 0">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Antecedentes</h4>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-eye">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ recordPatient.Antecedentes.length }}</h1>
                    <div class="mb-0">
                        <span class="badge badge-primary-light"> <em class="mdi mdi-arrow-bottom-right"></em>
                            <span class="text-muted">Ultimo antecedente => </span>
                            {{ recordPatient.Antecedentes[recordPatient.Antecedentes.length-1].Fecha.substring(0, 10) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Órdenes -->
        <div class="col-sm-6 col-xl-3" *ngIf="recordPatient.ServiciosIPS.length > 0">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Órdenes</h4>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-clipboard">
                                    <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                    </path>
                                    <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ recordPatient.ServiciosIPS.length }}</h1>
                    <div class="mb-0">
                        <span class="badge badge-primary-light"> <em class="mdi mdi-arrow-bottom-right"></em>
                            <span class="text-muted">Ultima orden => </span>
                            {{ recordPatient.ServiciosIPS[recordPatient.ServiciosIPS.length-1].FolioAtencion.FechaAtencion.substring(0, 10) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Plan de manejo -->
        <div class="col-sm-6 col-xl-3" *ngIf="recordPatient.PlanManejo.length > 0">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title">Plan de manejo</h4>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-heart">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">{{ recordPatient.PlanManejo.length }}</h1>
                    <div class="mb-0">
                        <span class="badge badge-primary-light"> <em class="mdi mdi-arrow-bottom-right"></em>
                            <span class="text-muted">Ultimo plan de manejo => </span>
                            {{ recordPatient.PlanManejo[recordPatient.PlanManejo.length-1].FolioAtencion.FechaAtencion.substring(0, 10) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>